
.title{
    text-align: center;
    @include lg{
        margin-left:132px;
text-align: left;
    }

}
#features{
// text-align: center;
margin-right: 16px;
margin-left: 16px;
margin-bottom: 96px;
@include lg{
    margin-right: 132px;
    margin-left: 132px;
    ul{

        display:grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "f1 f2 f6"
        "f4 f5 f3";
        
        
        #f1{
            grid-area: f1;
            // margin-right:32px;
        }
        #f2{
            grid-area: f2;
            // margin-right:32px;
        }
        #f3{
            grid-area: f3;
            // margin-right:32px;
        }
        #f4{
            grid-area: f4;
            // margin-right:32px;
        }
        #f5{
            grid-area: f5;
            // margin-right:32px;
        }
        #f6{
            grid-area: f6;
            // margin-right:32px;
        }


    }
    aside{
        // box-sizing: border-box;

        ul{
         display: grid;
         grid-template-columns: 100%;
grid-template-areas: "r";
            li{
               

                margin-top:8px;
      

                p{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    
                }
                .text{
                    grid-area: r;
                }
                            .text-left{
                                grid-area: t;
                text-align: right;

                            }

            }

        }
    }

}
>div{

    img{
        width: 73px;
        margin-right:8px;
    }
    
    .title{
        text-align: center;
        margin-bottom: 32px;
    }
    
    
    ul{
        width: 100%;
        box-sizing: border-box;
    
        
        .feature-card{
            display: flex;
            align-items: center;
            margin-top: 32px;
    
       
    
                aside{
                    width: 100%; 
                    box-sizing: border-box;
                    
                    ul{
                        width: 100%;
                        li{
                            display: flex;
                            width: 100%;
                            margin-top:8px;
    
                            p{
                                margin-top: 0px;
                                margin-bottom: 0px;
                            }

                            #f1{
                                grid-area: f1;
                            }
                            #f2{
                                grid-area: f2;
                            }
                            #f3{
                                grid-area: f3;
                            }
                            #f4{
                                grid-area: f4;
                            }
                            #f5{
                                grid-area: f5;
                            }
                            #f6{
                                grid-area: f6;
                            }

                        }
            
                        .text-left{
                            margin-left: auto;
                            text-align: right;
                        }
                    }
                }
            }





}


        
    }

}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    }
.orange-button{
    display: flex;
    align-items: center;
margin-bottom: 96px;
        }
// h1{
// margin-bottom: 32px;

// }

// .f1{
// grid-template-areas: ". f1 .";
//     ul{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-areas: 
//         "f1a ."
//         "f1b f1c";


// #f1a{
//     grid-area: f1a;
//     text-align: left;
// }
// #f1b{
//     grid-area: f1b;
//     text-align: left;
// }
// #f1c{
//     grid-area: f1c;
//     text-align: right;
// }


//     }

// }
// }