#highlights{
    margin-left: 16px;
    margin-right: 16px;

    img{
        height: 167px;
    }

@include lg{
margin-left: 25%;
margin-right: 25%;
    .highlight1{
        ul{
    
            margin-top: 32px;
            display:grid;
            grid-template-columns: 167px auto;
grid-template-areas: "i1 t1";

.i1{
grid-area: i1;
margin-right:0px;
padding-right:0px;
}
.t1{
    grid-area:t1;
    margin-left:16px;
}
            h1{
                margin-top: 8px;
            }
            p{
                margin-top:8px;
                margin-bottom:0px;
            }
        }
        
        }

.highlight2{
ul{

    margin-top: 32px;
    display:grid;

    align-items: left;
    justify-content: left;
    text-align: left;
    grid-template-columns: 167px auto;
    grid-template-areas: "i2 t2";
    
    .i2{
    grid-area: i2;
    margin-right:0px;
    padding-right:0px;
    }
    .t2{
        grid-area:t2;

        margin-left:16px;
    }
img{
    display:grid;
    align-items: left;
    justify-content: left;
    text-align: left;

}
    h1{
        margin-top: 8px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
    p{
        margin-top:8px;
        margin-bottom:0px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
}

}
.highlight3{
    ul{
        margin-top: 32px;
        display:grid;
        grid-template-columns: 167px auto;
        grid-template-areas: "i3 t3";
        
        .i3{
        grid-area: i3;

        margin-right:0px;
        padding-right:0px;
        }
        .t3{
            grid-area:t3;

            margin-left:16px;
        }
        h1{
            margin-top: 8px;
        }
        p{
            margin-top:8px;
            margin-bottom:0px;
        }
    }
    
    }



}

    .highlight1{
        ul{
            margin-top: 32px;
            display:grid;

            h1{
                margin-top: 8px;
            }
            p{
                margin-top:8px;
                margin-bottom:0px;
            }
        }
        
        }

.highlight2{
ul{
    margin-top: 32px;
    display:grid;
    align-items: right;
    justify-content: right;
    text-align: right;
    h1{
        margin-top: 8px;
    }
    p{
        margin-top:8px;
        margin-bottom:0px;
    }
}

}
.highlight3{
    ul{
        margin-top: 32px;
        display:grid;

        h1{
            margin-top: 8px;
        }
        p{
            margin-top:8px;
            margin-bottom:0px;
        }
    }
    
    }
}



