#highlights{
    margin-left: 16px;
    margin-right: 16px;

    img{
        height: 167px;
    }

@include lg{
margin-left: 32px;
margin-right: 32px;
    .highlight1{
        ul{
    
            margin-top: 32px;
            display:grid;
            grid-template-columns: repeat(2,1fr);
grid-template-areas: "i1 t1";

.i1{
grid-area: i1;

}
            h1{
                margin-top: 8px;
            }
            p{
                margin-top:8px;
                margin-bottom:0px;
            }
        }
        
        }

.highlight2{
ul{

    margin-top: 32px;
    background-color:blue;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: left;
    justify-content: left;
    text-align: left;
img{
    display:grid;
    align-items: left;
    justify-content: left;
    text-align: left;

}
    h1{
        margin-top: 8px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
    p{
        margin-top:8px;
        margin-bottom:0px;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
}

}
.highlight3{
    ul{
        margin-top: 32px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        h1{
            margin-top: 8px;
        }
        p{
            margin-top:8px;
            margin-bottom:0px;
        }
    }
    
    }



}

    .highlight1{
        ul{
            margin-top: 32px;
            display:grid;

            h1{
                margin-top: 8px;
            }
            p{
                margin-top:8px;
                margin-bottom:0px;
            }
        }
        
        }

.highlight2{
ul{
    margin-top: 32px;
    display:grid;
    align-items: right;
    justify-content: right;
    text-align: right;
    h1{
        margin-top: 8px;
    }
    p{
        margin-top:8px;
        margin-bottom:0px;
    }
}

}
.highlight3{
    ul{
        margin-top: 32px;
        display:grid;

        h1{
            margin-top: 8px;
        }
        p{
            margin-top:8px;
            margin-bottom:0px;
        }
    }
    
    }
}



