#highlights{
    margin-left: 16px;
    margin-right: 16px;
    .divide-line{
        height: 1px;
        background-color: black;
        width: 100%;
        margin-bottom: 32px;
    
    }
    img{
        height: 167px;
    }


#smeg{

float: right;
}

.steel{

text-align: right;




}

}



