#message{
    padding-top:96px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
background-color: black;
color: white;
text-align: center;

.thank{
    margin-top:32px;
}
.paragraph{


        background-image:  url("../img/example/7Smeg.jpg");
        background-size: cover;
        background-position: center;
        height: 30vh;
        margin-bottom: 32px;


}


.sign{
    margin-top:32px;
}

}