#message{
    padding-top:150px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
background-color: black;
color: white;

text-align: center;

.thank{
    margin-top:32px;
}
.paragraph{
padding-left: 20%;
padding-right: 20%;
        background-image:  url("../img/example/7Smeg.jpg");
        background-size: cover;
        height: 30vh;
        margin-bottom: 32px;
        background-repeat: no-repeat;
        background-position: center center;


@include lg{
    padding-left: 30%;
    padding-right: 30%;

}

}


.sign{
    margin-top:32px;
}





@include lg{
display: grid;
padding-left: 24px;
padding-right: 24px;
grid-template-columns: 60% auto;
grid-template-areas: 
"m1 m2";

.m1{
    grid-area: m1;

}

.m2{
    grid-area: m2;

}

}






}