#model{
margin-left: 16px;
margin-right: 16px;
margin-bottom: 32px;
img{
    width: 23px;
}
h4{
    margin-right: 16px;
}
ul{
    width: 100%;
    box-sizing: border-box;


    
    .square{
        display: flex;

        margin-top: 32px;


//             aside{
//                 width: 100%; 
//                 box-sizing: border-box;

//                 ul{
//       display:grid;
//       grid-template-columns: repeat(1,1fr);
//       grid-template-areas: "s1"
//       "s2"
//       "s3";
       


//                     li{
// // background-color: red;
// display: flex;
//                         .s1{
//                             grid-area: s1;
                            
//                         }
//                         .s2{
//                             grid-area: s2;
//                         }
//                         .s3{
//                             grid-area: s3;
//                         }
                        
// li{
// // background-color: blue;
//     display: inline-block;


// }
//                     }

//                 }
//             }
aside{

    
                    ul{

    
                        li{
                            p{
                                margin-top: 0;
                            }
.m1{
display:grid;

grid-template-columns: 23px auto;
grid-template-areas: "m1a m1b";

.m1a{
    grid-area: m1a;
}
.m1b{

    grid-area: m1b;
    margin-left: 20px;
}
}
.m2{
    display:grid;

    grid-template-columns: 23px auto;
    grid-template-areas: "m1a m1b";
    
    .m2a{
        grid-area: m1a;
    }
    .m2b{
        margin-left: 20px;
        grid-area: m1b;
    }
}
    .m3{
        display:grid;

        grid-template-columns: 23px auto;
        grid-template-areas: "m1a m1b";
        
        .m3a{
            grid-area: m1a;
        }
        .m3b{
            margin-left: 20px;
            grid-area: m1b;
        }

}


                            
 
    
                        }
    
                    }
                }
        }

        
    }





    }