#payment{

        margin-left: 16px;
        margin-right: 16px;
        display: grid;

        gap: 32px;
        grid-template-areas: 
        "f1"
        "f2"
        "f3"
        "f4"
        "f5";

button{

margin-top: 16px;


}
input{
    width:100%;
    margin-top: 16px;
    padding-top:8px;
    padding-bottom:8px;
    background-color: var(--grey);
    color: black;
    }
}
