
#payment2{
margin-top:32px;
padding-top:32px;
padding-left: 16px;
background-image: url("../img/example/7Smeg.jpg");
background-size: cover;
background-position: center;
height: 40vh;
color: white;

.part1{
background-color: white;
margin:16px;
border-radius: 20px;
padding:16px;
color: black;
display: grid;
grid-template-columns: 50% auto;
grid-template-areas: word price;




}
.part2{
    background-color: white;
    margin:16px;
    border-radius: 20px;
    padding:16px;
    color: black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: word price;

    }

    .purchase-button{
        display: flex;
        align-items: center;
        justify-content: center;
            }


        }
