#payment{

        margin-left: 16px;
        margin-right: 16px;
        display: grid;

        gap: 32px;
        grid-template-areas: 
        "f1"
        "f2"
        "f3"
        "f4"
        "f5";


}
