#review{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    margin-bottom: 96px;
h1{
    margin-left:0px;
    padding-left: 0;
    text-align: left;
}

.r{
    background-color: white;
    margin-top: 8px;
    margin-bottom: 32px; 
    color: black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "title date";
    margin-left:0px;

    padding-left: 0;

    .title{
        grid-area: title;
        margin-left:0px;
    }
    .date{
        grid-area: date;
    }
    @include lg{

        h1{
            margin-left:0px;
            padding-left: 0;
            text-align: left;

        }
    }

    .date{

        text-align: right;
    }

}
.r1{


    margin-top: 8px;
    margin-bottom: 32px; 
    color: black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: words prices;
    img{
        width:70px;
    }

    .prices{

        text-align: right;
    }
    .words{
display: grid;
grid-template-columns: 70px 300px;

    }

}
.r2{

    background-color: white;
    margin-top: 8px;
    margin-bottom: 32px; 
    color: black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: card number;


    .number{

        text-align: right;
    }

}
.r3{
margin-top: 8px;
margin-bottom: 32px;



}

.divide-line{
    height: 1px;
    background-color: black;
    width: 100%;
    margin-bottom: 32px;

}
.r4{
    background-color: white;
    margin-top: 8px;
    margin-bottom: 32px; 
    color: black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: r4a r4b;


    .r4b{

        text-align: right;
    }

}




@include lg{
    grid-area: review;
    margin-left:20%;
    margin-right:20%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    ". review review ." 
    
    ;
    margin-bottom: 104px;
    
    .m1{
        grid-area: m1;
    
    }
    
    .m2{
        grid-area: m2;
    
    }
    
    }
}