/* =============
    Footer
============= */
footer{
    background-color: var(--greydark);
    color: white;
}

#f1{
    grid-area: f1;
}
#f2{
    grid-area: f2;
}
#f3{
    grid-area: f3;
}
#f4{
    grid-area: f4;
}