/* =============
    Footer
============= */
footer{

    background-color: var(--greydark);
    color: white;
text-align: center;
a{
 color: white;
 text-decoration: none;
}

#f1{
    grid-area: f1;
    padding-top:32px;
    margin-bottom:8px;
}
#f2{
    grid-area: f2;
li{
    margin-bottom:24px;
}
}
#f3{
    grid-area: f3;
    margin-top:32px;
    margin-bottom:32px;
    li{
        display: inline-block;
        margin-right: 10px;
        a:link, a:visited{
            color: var(--orange);
            font-size: rem-calc(30);
            transition: 0.25s;

            &:hover, &:active{
                color: var(--orange);
            }
    }}
}
#f4{
    grid-area: f4;
    padding-bottom:96px; 
}}