/* =============
    Footer
============= */
footer{

p{
    font-size: rem-calc(20);
    font-weight: 400;
    @include lg{
        font-size: rem-calc(16);
    }
}

    background-color: var(--greydark);
    color: white;
text-align: center;

img{
    width: 200px;
}
a{
 color: white;
 text-decoration: none;
 font-size: rem-calc(20);
 font-weight: 400;
 @include lg{
    font-size: rem-calc(16);
}
}

#b1{
    grid-area: b1;
    padding-top:32px;
    margin-bottom:8px;
}
#b2{
    grid-area: b2;
li{
    margin-bottom:24px;


    @include lg{
        display: inline-block;
        margin-right: 10px;

    }
}





}
#b3{
    grid-area: b3;
    margin-top:32px;
    margin-bottom:32px;
    
    li{
        display: inline-block;
        margin-right: 10px;
        a:link, a:visited{
            color: var(--orange);
            font-size: rem-calc(30);
            transition: 0.25s;

            &:hover, &:active{
                color: var(--orange);

                
            }
            
    }
    
}
}
#b4{
    grid-area: b4;
    padding-bottom:96px; 
}




}